# Task One

In [54]:
# import necessary libraries

import pandas as pd
import numpy as np

In [7]:
# read first file

file_one = pd.read_csv('C:/Users/xps/Documents/Exercise/energy-analyst-data-exercise-public-master/historicalPriceData/ERCOT_DA_Prices_2016.csv')

In [8]:
file_one.head()

                  Date SettlementPoint  Price
0  2016-01-01 00:00:00       HB_BUSAVG  18.42
1  2016-01-01 00:00:00      HB_HOUSTON  18.42
2  2016-01-01 00:00:00       HB_HUBAVG  18.42
3  2016-01-01 00:00:00        HB_NORTH  18.43
4  2016-01-01 00:00:00        HB_SOUTH  18.38

In [9]:
# read second file

file_two = pd.read_csv('C:/Users/xps/Documents/Exercise/energy-analyst-data-exercise-public-master/historicalPriceData/ERCOT_DA_Prices_2017.csv')

In [10]:
file_two.head()

                  Date SettlementPoint  Price
0  2017-01-01 00:00:00       HB_BUSAVG  23.23
1  2017-01-01 00:00:00      HB_HOUSTON  23.23
2  2017-01-01 00:00:00       HB_HUBAVG  23.23
3  2017-01-01 00:00:00        HB_NORTH  23.23
4  2017-01-01 00:00:00        HB_SOUTH  23.23

In [11]:
# read third file

file_three = pd.read_csv('C:/Users/xps/Documents/Exercise/energy-analyst-data-exercise-public-master/historicalPriceData/ERCOT_DA_Prices_2018.csv')

In [13]:
file_three.head()

                  Date SettlementPoint  Price
0  2018-01-01 00:00:00       HB_BUSAVG  27.18
1  2018-01-01 00:00:00      HB_HOUSTON  26.85
2  2018-01-01 00:00:00       HB_HUBAVG  27.18
3  2018-01-01 00:00:00        HB_NORTH  27.23
4  2018-01-01 00:00:00        HB_SOUTH  27.14

In [12]:
# read fourth file

file_four = pd.read_csv('C:/Users/xps/Documents/Exercise/energy-analyst-data-exercise-public-master/historicalPriceData/ERCOT_DA_Prices_2019.csv')

In [14]:
file_four.head()

                  Date SettlementPoint  Price
0  2019-01-01 00:00:00       HB_BUSAVG  20.49
1  2019-01-01 00:00:00      HB_HOUSTON  20.12
2  2019-01-01 00:00:00       HB_HUBAVG  20.54
3  2019-01-01 00:00:00        HB_NORTH  20.49
4  2019-01-01 00:00:00        HB_SOUTH  20.34

In [21]:
# combine the four files

concat_files = pd.concat([file_one, file_two, file_three, file_four], axis = 0)
concat_files.head()

                  Date SettlementPoint  Price
0  2016-01-01 00:00:00       HB_BUSAVG  18.42
1  2016-01-01 00:00:00      HB_HOUSTON  18.42
2  2016-01-01 00:00:00       HB_HUBAVG  18.42
3  2016-01-01 00:00:00        HB_NORTH  18.43
4  2016-01-01 00:00:00        HB_SOUTH  18.38

In [28]:
# save combined files to csv

concat_files.to_csv('Combined_data.csv', index=False)

# Locational Nature of Power Prices

# Task Two

In [25]:
# unique settlement points

concat_files['SettlementPoint'].unique()

array(['HB_BUSAVG', 'HB_HOUSTON', 'HB_HUBAVG', 'HB_NORTH', 'HB_SOUTH',
       'HB_WEST', 'LZ_AEN', 'LZ_CPS', 'LZ_HOUSTON', 'LZ_LCRA', 'LZ_NORTH',
       'LZ_RAYBN', 'LZ_SOUTH', 'LZ_WEST', 'HB_PAN'], dtype=object)

In [27]:
# aggregate settlement points by mean

average_price = concat_files.groupby(concat_files['SettlementPoint']).agg({'Price': 'mean'}).reset_index()

   SettlementPoint      Price
0        HB_BUSAVG  29.420988
1       HB_HOUSTON  31.096580
2        HB_HUBAVG  29.512695
3         HB_NORTH  29.109678
4           HB_PAN  35.882074
5         HB_SOUTH  29.897728
6          HB_WEST  27.947969
7           LZ_AEN  29.624877
8           LZ_CPS  30.844485
9       LZ_HOUSTON  31.530224
10         LZ_LCRA  29.810659
11        LZ_NORTH  29.622212
12        LZ_RAYBN  29.996078
13        LZ_SOUTH  32.540299
14         LZ_WEST  32.648744

# Task Three

In [32]:
concat_files.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 497320 entries, 0 to 129105
Data columns (total 3 columns):
Date               497320 non-null object
SettlementPoint    497320 non-null object
Price              497320 non-null float64
dtypes: float64(1), object(2)
memory usage: 15.2+ MB

In [33]:
# extract year and month from date

concat_files['Date'] = pd.to_datetime(concat_files['Date'])
concat_files['Year'] = concat_files['Date'].dt.year
concat_files['Month'] = concat_files['Date'].dt.month
concat_files.head()

        Date SettlementPoint  Price  Year  Month
0 2016-01-01       HB_BUSAVG  18.42  2016      1
1 2016-01-01      HB_HOUSTON  18.42  2016      1
2 2016-01-01       HB_HUBAVG  18.42  2016      1
3 2016-01-01        HB_NORTH  18.43  2016      1
4 2016-01-01        HB_SOUTH  18.38  2016      1

In [40]:
# aggregate settlement point by year and month and find average price

average_price_year_month = concat_files.groupby(['SettlementPoint', 'Year', 'Month']).agg({'Price': 'mean'}).reset_index()
average_price_year_month.rename(columns={'Price': 'AveragePrice'}, inplace=True)

In [41]:
average_price_year_month.head()

  SettlementPoint  Year  Month  AveragePrice
0       HB_BUSAVG  2016      1     19.209301
1       HB_BUSAVG  2016      2     15.288247
2       HB_BUSAVG  2016      3     16.755626
3       HB_BUSAVG  2016      4     18.289347
4       HB_BUSAVG  2016      5     18.159583

In [42]:
# save AveragePriceByMonth as csv file

average_price_year_month.to_csv('AveragePriceByMonth.csv', index=False)

# Price Volatility

# Task Four

In [43]:
concat_files.head()

        Date SettlementPoint  Price  Year  Month
0 2016-01-01       HB_BUSAVG  18.42  2016      1
1 2016-01-01      HB_HOUSTON  18.42  2016      1
2 2016-01-01       HB_HUBAVG  18.42  2016      1
3 2016-01-01        HB_NORTH  18.43  2016      1
4 2016-01-01        HB_SOUTH  18.38  2016      1

In [49]:
# filter out prices less than zero and load zones

filtered = concat_files[(concat_files['Price'] != 0) & (concat_files['Price'] > 0) & 
                        (concat_files['SettlementPoint'].str.contains('HB_'))]

In [53]:
filtered.head()

        Date SettlementPoint  Price  Year  Month
0 2016-01-01       HB_BUSAVG  18.42  2016      1
1 2016-01-01      HB_HOUSTON  18.42  2016      1
2 2016-01-01       HB_HUBAVG  18.42  2016      1
3 2016-01-01        HB_NORTH  18.43  2016      1
4 2016-01-01        HB_SOUTH  18.38  2016      1

In [55]:
# find hourly volatility

filtered['HourlyVolatility'] = np.log(filtered['Price'])
filtered.head()

C:\Users\xps\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

        Date SettlementPoint  Price  Year  Month  HourlyVolatility
0 2016-01-01       HB_BUSAVG  18.42  2016      1          2.913437
1 2016-01-01      HB_HOUSTON  18.42  2016      1          2.913437
2 2016-01-01       HB_HUBAVG  18.42  2016      1          2.913437
3 2016-01-01        HB_NORTH  18.43  2016      1          2.913980
4 2016-01-01        HB_SOUTH  18.38  2016      1          2.911263

# Task Five

In [56]:
# hourly volatility by year

filtered_result = filtered[['SettlementPoint', 'Year', 'HourlyVolatility']]
filtered_result.head()

  SettlementPoint  Year  HourlyVolatility
0       HB_BUSAVG  2016          2.913437
1      HB_HOUSTON  2016          2.913437
2       HB_HUBAVG  2016          2.913437
3        HB_NORTH  2016          2.913980
4        HB_SOUTH  2016          2.911263

In [57]:
filtered_result.to_csv('HourlyVolatilityByYear.csv', index=False)

# Task Six

In [121]:
# settlement hub which showed the highest overall hourly volatility for each historical year

filtered_result['max'] = filtered_result.groupby('Year')['HourlyVolatility'].transform('max')

C:\Users\xps\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [122]:
final_filtered_result = filtered_result[filtered_result['HourlyVolatility']==filtered_result['max']]

In [124]:
final_filtered_result.drop('max', axis=1).to_csv('MaxVolatilityByYear.csv', index=False)

# Data Translation and Formatting

# Task Seven

In [160]:
concat_files.head()

        Date SettlementPoint  Price  Year  Month
0 2016-01-01       HB_BUSAVG  18.42  2016      1
1 2016-01-01      HB_HOUSTON  18.42  2016      1
2 2016-01-01       HB_HUBAVG  18.42  2016      1
3 2016-01-01        HB_NORTH  18.43  2016      1
4 2016-01-01        HB_SOUTH  18.38  2016      1

In [182]:
# unique settlement points

settlements = concat_files['SettlementPoint'].unique()

In [184]:
final_ans = dict()
for settlement in settlements:
    one = concat_files[concat_files['SettlementPoint'] == settlement]
    one['Time'] = one['Date'].dt.hour
    one['Only Date'] = one['Date'].dt.date
    final_ans[settlement] = pd.pivot_table(one, columns='Time', values='Price', index = ['Only Date', 'SettlementPoint'])

C:\Users\xps\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\xps\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [187]:
for i in final_ans: 
    final_ans[i].to_csv('dataframe_id_'+str(i)+'.csv')

# Bonus - Mean Plots

In [188]:
import matplotlib.pyplot as plt

In [189]:
average_price_year_month.head()

  SettlementPoint  Year  Month  AveragePrice
0       HB_BUSAVG  2016      1     19.209301
1       HB_BUSAVG  2016      2     15.288247
2       HB_BUSAVG  2016      3     16.755626
3       HB_BUSAVG  2016      4     18.289347
4       HB_BUSAVG  2016      5     18.159583

In [193]:
settlement_hub = average_price_year_month[average_price_year_month['SettlementPoint'].str.contains('HB_')]